In [38]:
# Configuração inicial
import psycopg2
import pandas as pd

# String de conexão compartilhada
CONN_STRING = "postgresql://externo.leitura:WdN#R10gX4@172.30.181.6:5432/fiscalize"

# Configurar opções de exibição do pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

In [46]:
# Query: Demanda específica por ID
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = "SELECT * FROM public.demanda WHERE id = 7828115;"
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

,id,ativo,data_criacao,assuntodemanda,bairro,complemento,datahoraaberturademanda,datahoraocorrencia,descricao,enderecoproximidade,latitude,logradouro,longitude,numero,pontoreferencia,protocolo,situacao,demanda_id,fiscalizado_id,grupodemanda_id,pessoageradora_id,regional_id,os_id,requeracompanhamento,trataranonimamente,plano_id,usuarioalteracao,autoverificacao,demandareferencia,situacaoanterior,operacao_id,unidadeoperacional_id,os_direta,arearisco,protocoloacompanhamento,datafiscalizacao,duracaodemanda,bairro_geo,pontos,datalimite,id_integracao,protocolo_integracao,orgaosolicitante,datageracaoos,informacaoinsuficiente,datacancelamento,usuariocancelamento_id,gerenteconclusao_id,dataconclusaogerente,dataconclusaofiscal,dataexecucao,demandafiscalizada,demandaconstatada,dataatribuicaoequipe,rota_id,emanalise,dataresposta,autoreferencia,justificativapontuacao,retornojustificativa,bloqueada,compendencia,emanalisegeo,observacaodiplan,bloqueio_id,cep,datadesbloqueio,justificativadesbloqueio,usuariodesbloqueio_id,urgencia,dataurgencia,observacaoouvidoria,dataarquivamento,eidoso,orientacoesretorno,cnae_id,dataevento,evento,notapriorizacao,tipopriorizacao,prioridade_demanda_id,comunicacao_encerrada,area_risco_quiz,data_bloqueio_criar_auto_demanda,observacaoprojur,gerefi_id,processo_cores,observacaodiop
0,7828115,True,2025-09-19 10:09:09.598,None,CENTRO,None,2025-09-19 10:06:00,2025-09-19 10:06:00,IMÓVEL LANÇANDO GORDURA NA REDE COLETORA DE ES...,False,-3.7274712,RUA GUILHERME ROCHA,-38.5267,52,None,2509197828115,11,None,7828105,191445,None,12,None,False,None,None,None,None,None,None,231061,None,None,None,None,None,0,CENTRO,1.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,60030-140,None,None,None,None,None,None,None,None,None,None,None,None,None,NAO_PRIORITARIO,None,None,False,None,None,2,None,None

In [40]:
# Query: Primeiras 5 pessoas
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = "SELECT * FROM public.pessoa LIMIT 5;"
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

,id,ativo,data_criacao,bairro,complemento,contato,cpfcnpj,latitude,logradouro,longitude,nomefantasia,numero,razaosocial,telefone,ramoatividade_id,regional_id,usuarioalteracao,email,cep,codigo,senha,pushtoken,regionalid,nacionalidade,naturalidade,rg,selo_agefis,abordargem_fiscal,atuacao_agefis,data_aprovacao_selo,data_solicitacao_selo,licencas_agefis,passaporte_sanitario,regras_agefis,taxas_agefis,estado_civil,data_nascimento
0,7419866,True,2025-05-14 21:00:16.093000,None,None,None,00272160393,None,None,None,None,None,PAULISVAN PAULINO,None,NaN,999,CRIADO COM LOGIN ÚNICO FORTALEZA DIGITAL,pbpaulino@hotmail.com,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,7419867,True,2025-05-14 21:02:25.361000,None,None,None,None,None,None,None,None,None,NÃO INFORMADO,None,NaN,999,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,4181,True,2017-02-07 12:13:16.971921,MUCURIPE,,SAMBURA HOTEIS E TURISMO LTDA,07298367000182,-3.7911773,AV BEIRA MAR,-38.589311,SAMBURA HOTEIS E TURISMO LTDA,4530,SAMBURA HOTEIS E TURISMO LTDA,None,NaN,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,20925,True,2017-05-26 00:00:00.000000,PARQUE SANTA MARIA,,NI,26743335000193,-3.7911773,,-38.589483,BENTO SERVICOS AUTOMOTIVOS LTDA - ME,1500,BENTO SERVICOS AUTOMOTIVOS LTDA - ME,None,125.0,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,1964,True,2017-02-07 12:13:16.971921,AMADEU FURTADO,,COURO FINO INDUSTRIA E COMERCIO DE ARTEFATOS D...,02724752000988,-3.7911773,R PRO LINO ENCARNACAO,-38.589311,COURO FINO INDUSTRIA E COMERCIO DE ARTEFATOS D...,850,COURO FINO INDUSTRIA E COMERCIO DE ARTEFATOS D...,None,NaN,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [41]:
# Query: Demandas do usuário 12201
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = """
SELECT FROM
  demanda d
  LEFT JOIN operacao o ON o.id = d.operacao_id
WHERE
  d.ativo
  AND situacao = 11
  AND d.operacao_id IN (
    SELECT
      operacao_id
    FROM
      fiscaloperacao fo
    WHERE
      fo.ativo
      AND fo.datainicio < now()
      AND fo.datafim > now()
      AND fo.usuario_id = 12201
  )
"""
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [42]:
# Query: Fiscal demanda do usuário 12201
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = """
SELECT fd.* FROM public.fiscaldemanda fd
WHERE fd.usuario_id = 12201 and fd.ativo = true;
"""
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
# df

In [49]:
# Query: Demandas do usuário 12201
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = """
WITH operacoes_validas AS (
    SELECT
        fo.operacao_id
    FROM
        fiscaloperacao fo
    WHERE
        fo.ativo
        AND fo.datainicio < now()
        AND fo.datafim > now()
        AND fo.usuario_id = 12201
)
SELECT d.protocolo,
    d.operacao_id
FROM demanda d
    LEFT JOIN operacao o ON o.id = d.operacao_id
WHERE
    d.ativo
    AND d.situacao = 11
    AND d.operacao_id IN (
        SELECT operacao_id FROM operacoes_validas
    );
"""

# query = """

#  SELECT
#         fo.operacao_id
#     FROM
#         fiscaloperacao fo
#     WHERE
#         fo.ativo
#         AND fo.datainicio < now()
#         AND fo.datafim > now()
#  """

cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

       protocolo  operacao_id
0  2601197832628       231061
1  2509167818105       231061
2  2509197828115       231061

In [45]:
# Query: Contar linhas da tabela fiscaloperacao
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = "SELECT COUNT(*) AS total_linhas FROM operacao f where f.ativo = true ;"
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

   total_linhas
0            13