In [27]:
# Configuração inicial
import psycopg2
import pandas as pd

# String de conexão compartilhada
CONN_STRING = "postgresql://externo.leitura:WdN#R10gX4@172.31.3.62:5432/fiscalize"

# Configurar opções de exibição do pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

In [28]:
# Query: Demanda específica por ID
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = "SELECT * FROM public.demanda WHERE id = 2754325;"
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

,id,ativo,data_criacao,assuntodemanda,bairro,complemento,datahoraaberturademanda,datahoraocorrencia,descricao,enderecoproximidade,latitude,logradouro,longitude,numero,pontoreferencia,protocolo,situacao,demanda_id,fiscalizado_id,grupodemanda_id,pessoageradora_id,regional_id,os_id,requeracompanhamento,trataranonimamente,plano_id,usuarioalteracao,autoverificacao,demandareferencia,situacaoanterior,operacao_id,unidadeoperacional_id,os_direta,arearisco,protocoloacompanhamento,datafiscalizacao,duracaodemanda,bairro_geo,pontos,datalimite,id_integracao,protocolo_integracao,orgaosolicitante,datageracaoos,informacaoinsuficiente,datacancelamento,usuariocancelamento_id,gerenteconclusao_id,dataconclusaogerente,dataconclusaofiscal,dataexecucao,demandafiscalizada,demandaconstatada,dataatribuicaoequipe,rota_id,emanalise,dataresposta,autoreferencia,justificativapontuacao,retornojustificativa,bloqueada,compendencia,emanalisegeo,observacaodiplan,bloqueio_id,cep,datadesbloqueio,justificativadesbloqueio,usuariodesbloqueio_id,urgencia,dataurgencia,observacaoouvidoria,dataarquivamento,eidoso,orientacoesretorno,cnae_id,dataevento,evento,notapriorizacao,tipopriorizacao,prioridade_demanda_id,comunicacao_encerrada,area_risco_quiz,data_bloqueio_criar_auto_demanda,observacaoprojur,gerefi_id,processo_cores,observacaodiop
0,2754325,True,2020-09-10 14:21:00,None,Conjunto Ceará II,None,2020-09-10 14:21:00,2020-09-10 14:10:00,"Som alto durante toda a semana, principalmente...",False,-3.7735758,Rua 735,-38.6041,331,Nenhum,2009102754325,2,None,2754324,15472,1439029,11,None,False,None,7480385,None,None,None,None,None,None,False,None,None,None,0,CONJUNTO CEARÁ II,1.0,None,None,None,None,2020-09-10 16:20:56.395,False,None,None,None,None,None,None,None,None,2020-09-25 16:50:06.659,2582683,False,None,None,None,None,False,False,False,"AO FISCAL, TOMAR AS DILIGÊNCIAS LEGAIS CABÍVEIS.",None,None,None,None,None,False,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,100,None,None

In [29]:
# Query: Primeiras 5 pessoas
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = "SELECT * FROM public.pessoa LIMIT 5;"
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

,id,ativo,data_criacao,bairro,complemento,contato,cpfcnpj,latitude,logradouro,longitude,nomefantasia,numero,razaosocial,telefone,ramoatividade_id,regional_id,usuarioalteracao,email,cep,codigo,senha,pushtoken,regionalid,nacionalidade,naturalidade,rg,selo_agefis,abordargem_fiscal,atuacao_agefis,data_aprovacao_selo,data_solicitacao_selo,licencas_agefis,passaporte_sanitario,regras_agefis,taxas_agefis,estado_civil,data_nascimento
0,6313059,True,2024-04-12 09:32:53.470,SIQUEIRA,None,None,41618319353,-3.8048956,RUA MIRACEL,-38.6307,None,1251,ANTONIO MOREIRA DA COSTA,None,None,5,None,None,60732-385,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,6313071,True,2024-04-12 09:35:46.801,NÃO INFORMADO,None,None,None,None,,None,None,,NÃƒO INFORMADO,,None,999,None,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,6313070,True,2024-04-12 09:35:46.801,CIDADE 2000,None,None,None,None,ALAMEDA DOS LIRIOS,None,None,319,NAO INFORMADO,,None,999,None,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,6313114,True,2024-04-12 09:41:40.231,VARJOTA,None,None,12792233753,-3.7344904,RUA CORONEL MANUEL JESUÍNO,-38.4847,None,1001,JOÃO BATISTA COSTA DE HOLANDA,None,None,2,None,None,60175-214,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,6313175,True,2024-04-12 09:45:50.674,NÃO INFORMADO,None,None,None,None,,None,None,,NÃƒO INFORMADO,,None,999,None,,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [30]:
# Query: Demandas do usuário 12201
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = """
SELECT d.protocolo, d.os_direta
FROM demanda d 
LEFT JOIN fiscaldemanda fd ON d.id = fd.demanda_id AND fd.ativo = TRUE
WHERE fd.usuario_id = 12201
AND d.ativo = TRUE
AND (d.os_direta = FALSE OR d.os_direta IS NULL)
AND d.situacao IN (2,11,12)
"""
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

       protocolo  os_direta
0  2005022549532      False
1  2009102754325      False

In [31]:
# Query: Fiscal demanda do usuário 12201
conn = psycopg2.connect(CONN_STRING)
cursor = conn.cursor()

query = """
SELECT fd.* FROM public.fiscaldemanda fd
WHERE fd.usuario_id = 12201 and fd.ativo = true;
"""
cursor.execute(query)

colnames = [desc[0] for desc in cursor.description]
rows = cursor.fetchall()

cursor.close()
conn.close()

df = pd.DataFrame(rows, columns=colnames)
df

,id,ativo,data_criacao,usuarioalteracao,usuario_id,demanda_id
0,419660,True,2018-04-23 11:48:49.787239,12201,12201,105736
1,2557416,True,2020-05-12 09:54:16.731000,None,12201,2549532
2,4420457,True,2022-09-08 09:00:02.318000,None,12201,4420456
3,5489254,True,2023-06-19 13:06:40.969000,None,12201,5039337
4,2283246,True,2020-01-20 11:20:55.220000,None,12201,152960
5,5488792,True,2023-06-19 13:06:20.918000,None,12201,5155996
6,5488803,True,2023-06-19 13:06:21.322000,None,12201,5195448
7,5488814,True,2023-06-19 13:06:21.648000,None,12201,5198776
8,5488825,True,2023-06-19 13:06:22.230000,None,12201,3801594
9,5488847,True,2023-06-19 13:06:23.179000,None,12201,4124183
10,5488858,True,2023-06-19 13:06:24.496000,None,12201,4182093
11,5488880,True,2023-06-19 13:06:25.474000,None,12201,4278765
12,5488891,True,2023-06-19 13:06:25.934000,None,12201,4283849
13,5488902,True,2023-06-19 13:06:26.364000,None,12201,4294734
14,5488913,True,2023-06-19 13:06:26.862000,None,12201,4320519
15,5488924,True,2023-06-19 13:06:27.516000,None,12201,4384094
16,5488935,True,2023-06-19 13:06:28.626000,None,12201,4401607
17,5488946,True,2023-06-19 13:06:29.121000,None,12201,4401640
18,5488957,True,2023-06-19 13:06:29.609000,None,12201,4401637
19,5488968,True,2023-06-19 13:06:30.091000,None,12201,4401634
20,5488979,True,2023-06-19 13:06:30.647000,None,12201,4402706
21,5488990,True,2023-06-19 13:06:31.136000,None,12201,4503725
22,5489001,True,2023-06-19 13:06:31.534000,None,12201,4508076
23,5489012,True,2023-06-19 13:06:31.980000,None,12201,4531413
24,5489023,True,2023-06-19 13:06:32.405000,None,12201,4808381
25,5489034,True,2023-06-19 13:06:32.828000,None,12201,4818204
26,5489045,True,2023-06-19 13:06:33.259000,None,12201,4834010
27,5489056,True,2023-06-19 13:06:33.699000,None,12201,4837601
28,5489067,True,2023-06-19 13:06:34.058000,None,12201,4842988
29,5489078,True,2023-06-19 13:06:34.540000,None,12201,4855112
30,5489089,True,2023-06-19 13:06:34.941000,None,12201,4885736
31,5489100,True,2023-06-19 13:06:35.396000,None,12201,4887592
32,5489111,True,2023-06-19 13:06:35.767000,None,12201,4902341
33,5489122,True,2023-06-19 13:06:36.199000,None,12201,4947837
34,5489133,True,2023-06-19 13:06:36.556000,None,12201,4959237
35,5489144,True,2023-06-19 13:06:36.939000,None,12201,4972880
36,5489155,True,2023-06-19 13:06:37.525000,None,12201,4987179
37,5489166,True,2023-06-19 13:06:37.853000,None,12201,4990715
38,5489177,True,2023-06-19 13:06:38.181000,None,12201,4998280
39,5489188,True,2023-06-19 13:06:38.555000,None,12201,5004808
40,5489199,True,2023-06-19 13:06:38.893000,None,12201,5006364
41,5489210,True,2023-06-19 13:06:39.256000,None,12201,5008737
42,5489221,True,2023-06-19 13:06:39.647000,None,12201,5016661
43,5489232,True,2023-06-19 13:06:40.024000,None,12201,5022152
44,5489243,True,2023-06-19 13:06:40.469000,None,12201,5029285
45,5489265,True,2023-06-19 13:06:41.327000,None,12201,5039736
46,5489276,True,2023-06-19 13:06:41.674000,None,12201,5040296
47,5489287,True,2023-06-19 13:06:41.998000,None,12201,5051822
48,5489298,True,2023-06-19 13:06:42.370000,None,12201,5052981
49,5489309,True,2023-06-19 13:06:42.690000,None,12201,5053134
50,5489320,True,2023-06-19 13:06:43.007000,None,12201,5053139
51,4521056,True,2022-10-21 13:03:11.037000,None,12201,4521055
52,4534088,True,2022-10-27 11:12:09.459000,None,12201,4423639
53,4534092,True,2022-10-27 11:12:09.968000,None,12201,4429894
54,4534096,True,2022-10-27 11:12:10.532000,None,12201,4450208
55,4534100,True,2022-10-27 11:12:11.051000,None,12201,4396301
56,4534076,True,2022-10-27 11:12:07.582000,None,12201,4533995
57,4534080,True,2022-10-27 11:12:08.147000,None,12201,4276032
58,4065957,True,2022-04-11 09:16:03.445000,None,12201,4055460
59,4065961,True,2022-04-11 09:16:03.795000,None,12201,3984784
60,4065965,True,2022-04-11 09:16:04.054000,None,12201,2365609
61,4065969,True,2022-04-11 09:16:04.280000,None,12201,4036625
62,4069229,True,2022-04-12 10:41:28.821000,None,12201,4069228
63,2877819,True,2020-11-11 13:23:28.636000,None,12201,2754325
64,4226478,True,2022-06-20 08:53:53.504000,None,12201,4226477
65,3432847,True,2021-07-06 10:33:17.600000,None,12201,3432846
66,6640980,True,2024-07-21 21:08:36.756000,None,12201,6640977
67,6641001,True,2024-07-21 21:22:33.337000,None,12201,6640999
68,6641077,True,2024-07-21 22:11:08.406000,None,12201,6641075
69,6409697,True,2024-05-13 14:36:41.031000,None,12201,6409694
70,6410924,True,2024-05-13 16:24:34.627000,None,12201,6410921
71,6411037,True,2024-05-13 16:47:22.009000,None,12201,6411034
72,6410549,True,2024-05-13 15:49:22.735000,None,12201,6410546
73,6411066,True,2024-05-13 16:56:13.956000,None,12201,6411063
74,6412111,True,2024-05-14 09:27:06.437000,None,12201,6412108
75,6412234,True,2024-05-14 09:40:02.646000,None,12201,6412231
76,6412361,True,2024-05-14 09:51:06.305000,None,12201,6412358
77,6412533,True,2024-05-14 10:25:10.244000,None,12201,6412530
78,6412488,True,2024-05-14 10:10:24.044000,None,12201,6412485
79,6412768,True,2024-05-14 10:53:10.425000,None,12201,6412765
80,6427775,True,2024-05-17 17:42:02.384000,None,12201,6427772
81,6427924,True,2024-05-17 20:20:18.528000,None,12201,6427921
82,6428028,True,2024-05-17 22:38:50.415000,None,12201,6428025
83,6428041,True,2024-05-17 22:48:48.462000,None,12201,6428038
84,6431567,True,2024-05-20 10:55:18.098000,None,12201,6431564
85,6431859,True,2024-05-20 11:12:58.068000,None,12201,6431855
86,6431991,True,2024-05-20 11:22:46.201000,None,12201,6431987
87,6432357,True,2024-05-20 12:12:31.287000,None,12201,6432354
88,6434415,True,2024-05-20 20:17:08.988000,None,12201,6434412
89,6434530,True,2024-05-20 21:14:29.031000,None,12201,6434527
90,6434580,True,2024-05-20 21:28:23.962000,None,12201,6434577
91,6434601,True,2024-05-20 21:39:08.102000,None,12201,6434598
92,6434621,True,2024-05-20 21:46:57.075000,None,12201,6434618
93,6434636,True,2024-05-20 21:56:12.947000,None,12201,6434633
94,6434670,True,2024-05-20 22:03:32.732000,None,12201,6434667
95,6434773,True,2024-05-20 22:31:53.061000,None,12201,6434770
96,6434795,True,2024-05-20 22:39:10.849000,None,12201,6434792
97,6434702,True,2024-05-20 22:12:43.078000,None,12201,6434699
98,6434735,True,2024-05-20 22:23:53.625000,None,12201,6434732
99,6435469,True,2024-05-21 09:00:05.535000,None,12201,6435465
100,6435636,True,2024-05-21 09:15:16.609000,None,12201,6435633
101,6435732,True,2024-05-21 09:22:54.867000,None,12201,6435729
102,6435960,True,2024-05-21 09:47:20.131000,None,12201,6435957
103,6436080,True,2024-05-21 10:00:36.246000,None,12201,6436077
104,6436485,True,2024-05-21 10:28:22.365000,None,12201,6436482
105,6435815,True,2024-05-21 09:33:58.834000,None,12201,6435812
106,6435585,True,2024-05-21 09:09:18.665000,None,12201,6435582
107,6437657,True,2024-05-21 12:43:27.547000,None,12201,6437654
108,6435884,True,2024-05-21 09:40:46.847000,None,12201,6435881
109,6437553,True,2024-05-21 12:23:56.444000,None,12201,6437550
110,6436605,True,2024-05-21 10:35:30.094000,None,12201,6436602
111,6437495,True,2024-05-21 12:11:45.470000,None,12201,6437492
112,6437754,True,2024-05-21 13:04:21.131000,None,12201,6437751
113,6437926,True,2024-05-21 13:24:36.640000,None,12201,6437923
114,6436355,True,2024-05-21 10:20:50.551000,None,12201,6436348
115,6437693,True,2024-05-21 12:54:13.573000,None,12201,6437690
116,6437806,True,2024-05-21 13:15:46.816000,None,12201,6437803
117,6437604,True,2024-05-21 12:33:23.433000,None,12201,6437601
118,6438060,True,2024-05-21 13:47:35.717000,None,12201,6438057
119,6441550,True,2024-05-22 10:35:01.810000,None,12201,6441547
120,6441711,True,2024-05-22 10:47:18.541000,None,12201,6441708
121,6441798,True,2024-05-22 10:53:57.473000,None,12201,6441795
122,6440685,True,2024-05-22 09:21:26.050000,None,12201,6440682
123,6441912,True,2024-05-22 11:01:35.024000,None,12201,6441909
124,6441090,True,2024-05-22 10:03:20.316000,None,12201,6441087
125,6441219,True,2024-05-22 10:13:51.260000,None,12201,6441216
126,6441323,True,2024-05-22 10:20:58.354000,None,12201,6441320
127,6441437,True,2024-05-22 10:27:20.544000,None,12201,6441434
128,6442025,True,2024-05-22 11:11:52.293000,None,12201,6442022
129,6451330,True,2024-05-24 12:25:59.975000,None,12201,6451327
130,6451243,True,2024-05-24 12:12:36.043000,None,12201,6451240
131,6451896,True,2024-05-24 14:16:32.118000,None,12201,6451893
132,6449658,True,2024-05-24 09:22:44.121000,None,12201,6449655
133,6449747,True,2024-05-24 09:32:19.172000,None,12201,6449744
134,6449900,True,2024-05-24 09:45:06.040000,None,12201,6449897
135,6450013,True,2024-05-24 09:58:53.437000,None,12201,6450010
136,6450214,True,2024-05-24 10:21:01.799000,None,12201,6450211
137,6450997,True,2024-05-24 11:43:58.869000,None,12201,6450994
138,6451591,True,2024-05-24 13:18:06.187000,None,12201,6451588
139,6450698,True,2024-05-24 11:03:58.237000,None,12201,6450691
140,6450864,True,2024-05-24 11:28:08.532000,None,12201,6450861
141,6450528,True,2024-05-24 10:48:42.884000,None,12201,6450525
142,6451100,True,2024-05-24 11:56:27.495000,None,12201,6451097
143,6451209,True,2024-05-24 12:05:11.478000,None,12201,6451206
144,6451741,True,2024-05-24 13:57:25.075000,None,12201,6451738
145,6451826,True,2024-05-24 14:10:35.178000,None,12201,6451823
146,6460219,True,2024-05-27 21:16:19.961000,None,12201,6460216
147,6460274,True,2024-05-27 21:41:37.854000,None,12201,6460271
148,6459048,True,2024-05-27 15:08:54.306000,None,12201,6459045
149,6459638,True,2024-05-27 16:21:58.811000,None,12201,6459635
150,6458938,True,2024-05-27 14:53:43.793000,None,12201,6458935
151,6459709,True,2024-05-27 16:29:31.555000,None,12201,6459706
152,6460348,True,2024-05-27 22:05:41.378000,None,12201,6460345
153,6458769,True,2024-05-27 14:37:33.401000,None,12201,6458766
154,6459295,True,2024-05-27 15:52:05.815000,None,12201,6459292
155,6460196,True,2024-05-27 21:03:58.036000,None,12201,6460193
156,6460249,True,2024-05-27 21:30:28.291000,None,12201,6460246
157,6459401,True,2024-05-27 16:02:18.372000,None,12201,6459398
158,6460309,True,2024-05-27 21:56:28.976000,None,12201,6460306
159,6460381,True,2024-05-27 22:16:03.874000,None,12201,6460378
160,6460407,True,2024-05-27 22:32:42.844000,None,12201,6460404
161,6462029,True,2024-05-28 10:16:16.367000,None,12201,6462026
162,6461832,True,2024-05-28 09:51:04.653000,None,12201,6461829
163,6463270,True,2024-05-28 12:49:44.139000,None,12201,6463267
164,6462893,True,2024-05-28 11:53:49.589000,None,12201,6462890
165,6462156,True,2024-05-28 10:36:02.413000,None,12201,6462153
166,6462807,True,2024-05-28 11:47:32.271000,None,12201,6462804
167,6462096,True,2024-05-28 10:23:15.410000,None,12201,6462093
168,6462576,True,2024-05-28 11:26:42.598000,None,12201,6462573
169,6461910,True,2024-05-28 10:02:28.944000,None,12201,6461907
170,6463144,True,2024-05-28 12:20:18.719000,None,12201,6463141
171,6463173,True,2024-05-28 12:27:36.845000,None,12201,6463170
172,6461986,True,2024-05-28 10:10:22.215000,None,12201,6461983
173,6462726,True,2024-05-28 11:39:19.925000,None,12201,6462723
174,6463608,True,2024-05-28 13:45:05.414000,None,12201,6463605
175,6463219,True,2024-05-28 12:35:33.413000,None,12201,6463216
176,6463319,True,2024-05-28 13:01:17.471000,None,12201,6463316
177,6463241,True,2024-05-28 12:42:42.730000,None,12201,6463238
178,6463350,True,2024-05-28 13:08:54.304000,None,12201,6463347